* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

div {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}


/* menu */

nav {
    background: #0082e682;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* table */

tbody {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.box-ketqua {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.box-ketqua h2 {
    color: #fff;
    height: 77px;
    text-align: center;
    background-color: #cb0506;
    font-weight: 700;
    position: relative;
}

#rmn {
    border: 0;
    margin: 11px;
    padding: 21px;
    font-size: 100%;
}

#content {
    background-image: url("../img/background.jpg");
    position: absolute;
    background-size: cover;
    padding: 500px 0;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content .row {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

#content .col-md-12 {
    background-color: rgb(170, 158, 158);
    border-radius: 10px;
    width: 60%;
    height: 690px;
    text-align: center;
    margin-top: -211px;
    margin-left: 365px;
}

#content .container {
    width: 100%;
    border-top: 0;
    float: left;
    box-sizing: border-box;
}

.col3 {
    font-size: 20px;
}

.result {
    font-weight: 700;
    text-align: center;
    line-height: 150%;
    vertical-align: middle;
    border-left: 0;
}

.result td:first-child {
    width: 55px !important;
    color: #696969;
    font-size: 16px !important;
    font-weight: 700;
}

td,
.result td {
    border: 1px solid #666;
    padding: 4px;
    line-height: 130% !important;
}

table {
    display: table;
    border-spacing: 0;
    padding-top: 25px;
    border-collapse: collapse;
    margin-bottom: 10px !important;
}


/* button */

#btn-rand {
    text-align: center;
}

#btn-rand button {
    background: #03A9F4 !important;
    color: white !important;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
}

#btn-rand .rand:hover {
    width: fit-content;
    padding: 0.5em 1em;
    text-align: center;
    float: inherit;
    margin: 0em auto;
    color: #ffffff;
    background: #00000026;
    border-radius: 25px;
}