* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-top {
    background-color: #007aff;
    color: #919194;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 12px 0px 0px 0px;
}

.header-top .col-md-3 {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.header-top .col-md-3 a {
    color: #b3542e;
}

.header-top .col-md-3 a:hover {
    color: #dc3545;
}

.header-top .col-md-9 li {
    color: #f5f8f9
}

.header-top .col-md-9 input {
    border-radius: 15px;
    text-align: center;
}

.header-top .col-md-9 {
    text-align: right;
}

.header-top .col-md-9 button {
    border-radius: 15px;
}

.header-top li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.banner {
    background-color: #033366;
    color: #919194;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 24px 0px 12px 0px;
}

.banner .col-md-2 {
    color: #fff;
    border-right: 1px solid rgb(179, 174, 174);
}

.banner .col-md-4 {
    color: #fff;
}

.slider {
    height: 390px;
}

.slider1 {
    margin-top: -42px;
    color: #fff;
}

.slider1 marquee {
    background-color: rgb(110 110 110 / 10%);
    padding: 5px 0px;
}

.content {
    background-image: url("../image/background.jpg");
    position: absolute;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content .col-md-12 {
    background-color: rgb(170, 158, 158);
    border-radius: 10px;
    width: 100%;
    height: 700px;
}

.content .col-md-12 .col-md-9 {
    background-color: #fff;
    width: 100%;
    height: 700px;
    border-right: 10px solid #919194;
    border-radius: 10px;
}

.content .col-md-12 .col-md-3 {
    background-color: #fff;
    width: 100%;
    height: 700px;
    border-radius: 10px;
}

.content .col-md-12 .col-md-9 .col-md-4 {
    text-align: center;
    padding: 10px 10px;
}

.content .col-md-12 .col-md-9 .col-md-4 .itemball {
    margin: 0 5px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: #ea524d;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 50px;
    display: inline-block;
}

.content .col-md-12 .col-md-3 {
    padding: 10px 10px;
}

.content .col-md-12 .col-md-3 jsuites-calendar {
    padding-left: 10px;
    border-radius: 2px;
}

.content .col-md-12 .col-md-3 select {
    padding: 10px 40px;
    width: 100%;
    text-align: center;
}

.footer-top {
    background-color: #007aff;
    height: 200px;
}

.footer-top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-top .container p {
    padding-top: 15px;
    color: #fff;
    font-weight: 200px;
    font-size: 20px;
}

.footer-top .container img {
    float: left;
    margin-right: 1px;
}

.footer-bottom {
    background-color: #1875da;
    height: 120px;
}

.footer-bottom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom P {
    text-align: center;
    color: #fff;
    font-weight: 300px;
    font-size: 20px;
}